# Web Application & API Frameworks
fastapi
uvicorn
streamlit

# Backend components
python-multipart
pydantic

# AI & Processing
deepface==0.0.86
faiss-cpu>=1.13.0
opencv-python>=4.9.0.80
pandas
numpy
tf-keras
